name: auto_update_flist

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Commit and push using PAT (only)
        run: |
          DATE=$(date -u +%Y-%m-%d)
          echo "Before:"
          cat vuepress.config.ts
          DATE=$(date -u +%Y-%m-%d)
          sed -i "s/^title:.*$/title: \`Frost Rime Device（最近刷新：$DATE）\`,/" vuepress.config.ts
          echo "After:"
          cat vuepress.config.ts
          git add vuepress.config.ts
          git diff --cached --quiet || git commit -m "chore: update refresh date to $DATE"
          git remote set-url origin https://x-access-token:${{ secrets.PERSONAL_TOKEN }}@github.com/${{ github.repository }}
          git push origin HEAD
