name: auto_update_flist

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Set git identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update vuepress.config.ts title with time
        run: |
          DATE=$(TZ=Asia/Shanghai date "%H:%M:%S")
          echo "Date is: $DATE"
          sed -i "s/^\s*title:.*$/  title: \`Frost Rime的分享盘（最近刷新：$DATE）\`,/" vuepress.config.ts
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add vuepress.config.ts
          git diff --cached --quiet || git commit -m "chore: update refresh time to $DATE"
          git remote set-url origin https://x-access-token:${{ secrets.PERSONAL_TOKEN }}@github.com/${{ github.repository }}
          git push origin HEAD
